# Python cache
__pycache__/
*.py[cod]
*$py.class

# Jupyter Checkpoints
.ipynb_checkpoints/
*/.ipynb_checkpoints/*

# Virtual Environments
.env
.venv
env/
venv/
ENV/

# IDE Settings
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS artifacts
.DS_Store
Thumbs.db
ehthumbs.db

# Runtime logs
*.log
